.hide {
	display: none;
}

.seek {
	display: block;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
.farhan {
  border-radius: 5px 5px 0 0;
  margin-top: 15px;
  margin-left: 10px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.cardv {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
.farhanv {
  border-radius: 5px 5px 0 0;
  margin-top: 15px;
}
/* On mouse-over, add a deeper shadow */
.cardv:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}